.bookdetails {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(
    278deg,
    rgb(10, 250, 22) 0%,
    rgb(232, 236, 18) 40%,
    rgb(248, 153, 192) 100%
  );
  animation: glow 1.8s ease-in-out infinite alternate;
  transition: transform 0.5s ease-in;
}

.bookdetails:hover {
  transform: scale(0.9);
}

.image {
  width: 500px;
  height: 550px;
  margin: 10px;
  border-radius: 15px;
}

.book-text {
  font-size: 30px;
  color: orangered;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.bookdetails-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 700px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 35px;
  max-width: 100vw;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px rgba(32, 227, 10, 0.999);
  }
  to {
    box-shadow: 0 0 40px rgb(226, 3, 3);
  }
}
