.browse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 25px;
}

.books-cat {
  display: grid;
  grid-template-columns: repeat(5, 370px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 35px;
  max-width: 100vw;
}

.book {
  display: flex;
  flex-direction: column;
  margin: 2px 0px;
  border: 2px solid black;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  height: 730px;
  width: 100%;
  max-width: 350px;
}

.popular-text {
  font-size: 25px;
  padding: 0;
  color: #07f0ec;
  font-weight: bold;
}

#view-details {
  font-size: 20px;
  color: yellow;
  margin-bottom: 10px;
}

.img {
  margin-top: 10px;
  border-radius: 10px;
  width: 160px;
  height: 220px;
  object-fit: cover;
}

.book:hover {
  transform: scale(0.9);
}

#view-details:hover {
  color: rgb(255, 0, 0);
}

.active-category {
  color: red;
}

.Search {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.search-input {
  font-size: 35px;
  width: 600px;
}

#error {
  animation: tilt 1s 1s ease-in-out 6 both;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
