.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  border: 2px solid black;
  margin: 5px;
  width: 100%;
  max-width: 100vw;
}

.nav-item {
  font-size: 35px;
  padding: 10px;
  color: rgb(0, 255, 0);
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-item:hover {
  color: red;
  transform: scale(1.1);
}
