.nav-container {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  gap: 20px;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 10px 40px;
  border: 2px solid black;
  box-sizing: border-box;
}

.nav-item {
  font-size: 35px;
  padding: 10px;
  color: rgb(0, 255, 0);
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-item:hover {
  color: red;
  transform: scale(1.1);
}
